header img{
    width: 100%;
    height: 450px;
}
header h3{
    position: relative;
    bottom: 500px;
    color: blue;
    font-size: 40px;
    left: 530px;
}

nav ul{
    display: flex;
}

nav li {
    padding-right: 90px;
    list-style-type: none;
    position: relative;
    bottom: 120px;
    left: 230px;
    text-decoration: none;
    font-size: 17px;
}
.exams{
    background-color: steelblue;
}
#register{
    background-color: steelblue;
}
#about p{
    color: steelblue;
    font-size: 30px;
}
